.main-navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: var(--clr-primary);
  padding: 0.6rem 1.6rem;
  width: 100%;
}

.main-navigation__logo {
  font-size: 1.3rem;
  color: var(--clr-light);
  text-decoration: none;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__list-item {
  margin-inline: 1rem;
}

.nav__link {
  font-size: 1rem;
  font-weight: var(--fw-bold);
  text-decoration: none;
  color: var(--clr-light);
  transition: all 100ms ease-out;
}

.nav__link:hover,
.nav__link:active {
  color: #bdaeff;
}

.nav__list-item .active {
  text-decoration: none;
  color: #bdaeff;
}
